*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
  
}

.logo{
  display: block;  
}

.logo-info{
    
    display: flex;
    justify-content: space-between;
    width: 220px;
    align-items: center;
    
    margin: 40px 70px 0 217px;
}

.info{
    display: flex;
   
    
}
.info img{
    width: 12px;
    height: 12px;
    display: block;
    
}


.left{
    width: 1240px;
    height: 1032px;
    flex-basis: 65%;
    background-color: #eff2f6;
}
.left h2{
    
margin-top: 405px;
    margin-left: 140px;
color: #000000;
font-family: Montserrat;
font-size: 60px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
}
.info-p{
    color: #92a1a5;
    
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 30px;
    margin-left: 140px;
    margin-top: 50px;
    width: 392px;
height: 44px;
    
    
}

.right{
    
    flex-basis:35%;
    background-color: #ff343d;
    height: 1032px;
}

.buy-info{
    margin-top: 40px;
    width: 370px;
    margin-left: 320px;
    
    
}
.buy-info p{
    color: #ffffff;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
}
.circle{

    
}

.mars{
    width: 282px;
height: 1138px;
text-shadow: 0 0 55px rgba(0, 1, 1, 0.15);
color: #ffffff;
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
}
.fly{
    
}
.flyboxes{
    display: flex;
    height: 614px;
}
.fly1{
        background: url(img/photo.png);
   
    width: 614px;
height: 614px;
}
.fly2{
    background: url(img/photo2.png);
   width: 1385px;
height: 614px;
}
